;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 []

 :builds
 {:app
  {:main npmdemo.core/main
   :target :node-script
   :output-to "npmdemo.js"
   :devtools
   {:after-load npmdemo.core/start!
    :before-load npmdemo.core/stop!}}}}
