{:require [npmdemo.core]
 :init-fns [npmdemo.core/start-server]
 :compiler-options {:npm-deps {:express "4.16.2"}
                    :install-deps true
                    :infer-externs true
                    :target :nodejs
                    :optimizations :none
                    :closure-defines {goog.DEBUG false}
                    :pretty-print false}}
